:root {
    --color-background-primary-base-light: #ffffffff;
    --color-background-primary-elevated-light: #ffffffff;
    --color-background-secondary-base-light: #f2f2f7ff;
    --color-background-secondary-elevated-light: #f2f2f7ff;
    --color-background-tertiary-base-light: #ffffffff;
    --color-background-tertiary-elevated-light: #ffffffff;
    --color-background-grouped-primary-base-light: #f2f2f7ff;
    --color-background-grouped-primary-elevated-light: #f2f2f7ff;
    --color-background-grouped-primary-high-light: #ffffffff;
    --color-background-grouped-secondary-base-light: #ffffffff;
    --color-background-grouped-secondary-elevated-light: #ffffffff;
    --color-background-grouped-tertiary-base-light: #f2f2f7ff;
    --color-background-grouped-tertiary-elevated-light: #f2f2f7ff;
    --border-width-none: 0;
    --border-width-thinner: 0.5;
    --border-width-thin: 1;
    --border-width-thick: 1.5;
    --border-width-thicker: 2;
    --color-fills-primary-light: #78788033;
    --color-fills-secondary-light: #78788029;
    --color-fills-tertiary-light: #7676801f;
    --color-fills-quaternary-light: #74748014;
    --color-fills-vibrant-primary-light: #7f7f7f80;
    --color-fills-vibrant-secondary-light: #7f7f7f66;
    --color-fills-vibrant-tertiary-light: #7f7f7f33;
    --color-labels-primary-light: #000000ff;
    --color-labels-secondary-light: #3c3c4399;
    --color-labels-tertiary-light: #3c3c434d;
    --color-labels-quaternary-light: #3c3c432e;
    --color-labels-success-light: #34c759ff;
    --color-labels-error-light: #ff3b30ff;
    --color-labels-warning-light: #ff9500ff;
    --color-labels-vibrant-primary-light: #000000ff;
    --color-labels-vibrant-secondary-light: #28282880;
    --color-labels-vibrant-tertiary-light: #28282866;
    --color-labels-vibrant-quaternary-light: #28282833;
    --color-materials-chrome-light: #ffffffc0;
    --color-materials-inverted-elevated-light: #0000000f;
    --color-materials-inverted-secondary-light: #0000001f;
    --color-materials-inverted-light: #0000000f;
    --color-materials-regular-light: #eeeeeef7;
    --color-materials-thick-light: #f2f2f2f7;
    --color-materials-thin-light: #e9e9e9b3;
    --color-materials-ultra-thin-light: #bfbfbf70;
    --color-overlay-accent-blue15-15-light: #ff0ae626;
    --color-overlay-accent-blue24-12-light: #ff0ae61f;
    --color-overlay-black15-15-light: #00000026;
    --color-overlay-black29-12-light: #0000001f;
    --color-overlay-black29-29-light: #00000047;
    --color-overlay-black40-40-light: #00000066;
    --color-overlay-black60-20-light: #00000033;
    --color-overlay-black60-40-light: #00000066;
    --color-overlay-black70-70-light: #000000b3;
    --color-overlay-dimming-light: #18132b36;
    --color-overlay-grabber-light: #3c3c434d;
    --color-overlay-white15-15-light: #ffffff26;
    --border-radius-none: 0;
    --border-radius-xs: 0.5;
    --border-radius-small: 2;
    --border-radius-medium: 4;
    --border-radius-large: 8;
    --border-radius-x-large: 12;
    --border-radius-2x-large: 1;
    --color-separators-card-photo-stroke-light: #00000026;
    --color-separators-inverted-primary-light: #0000004d;
    --color-separators-inverted-secondary-light: #0000000f;
    --color-separators-non-opaque-light: #3c3c435c;
    --color-separators-opaque-light: #c6c6c8ff;
    --color-brand-accent-light: #20cb73ff;
    --color-brand-accent-40-light: #2fd98166;
    --color-brand-accent-button-bezeled-fill-light: #2fd9811a;
    --color-brand-accent-button-bezeled-fill-hover-light: #2fd98133;
    --color-brand-blue-light: #007affff;
    --color-brand-brown-light: #a2845eff;
    --color-brand-cyan-light: #32ade6ff;
    --color-brand-gray0-light: #ffffffff;
    --color-brand-gray50-light: #f8f8f8ff;
    --color-brand-gray100-light: #f1f0efff;
    --color-brand-gray200-light: #e6e4e2ff;
    --color-brand-gray300-light: #d3d1cfff;
    --color-brand-gray400-light: #b9b5b0ff;
    --color-brand-gray500-light: #a8a49eff;
    --color-brand-gray600-light: #87827bff;
    --color-brand-gray700-light: #706c65ff;
    --color-brand-gray800-light: #5e5b56ff;
    --color-brand-gray900-light: #514f4bff;
    --color-brand-gray950-light: #292826ff;
    --color-grays-black-light: #000000ff;
    --color-grays-gray-light: #8e8e93ff;
    --color-grays-gray2-light: #aeaeb2ff;
    --color-grays-gray3-light: #c7c7ccff;
    --color-grays-gray4-light: #d1d1d6ff;
    --color-grays-gray5-light: #e5e5eaff;
    --color-grays-gray6-light: #f2f2f7ff;
    --color-grays-white-light: #ffffffff;
    --color-brand-green-light: #34c759ff;
    --color-brand-indigo-light: #5856d6ff;
    --color-brand-mint-light: #00c7bfff;
    --color-brand-orange-light: #ff9500ff;
    --color-brand-pink-light: #ff2d55ff;
    --color-brand-purple-light: #af52deff;
    --color-brand-red-light: #ff3b30ff;
    --color-brand-red-40-light: #ff3b3066;
    --color-brand-red-button-bezeled-fill-light: #ff3b301a;
    --color-brand-red-button-bezeled-fill-hover-light: #ff3b3033;
    --color-brand-teal-light: #30b0c7ff;
    --color-brand-yellow-light: #ffcc00ff;
    --color-brand-yellow-acid-light: #ffff23ff;
}
.dark,
.dark-theme {
    --color-background-primary-base-dark: #0f0f0fff;
    --color-background-primary-elevated-dark: #1c1c1eff;
    --color-background-secondary-base-dark: #1c1c1eff;
    --color-background-secondary-elevated-dark: #2c2c2eff;
    --color-background-tertiary-base-dark: #2c2c2eff;
    --color-background-tertiary-elevated-dark: #3a3a3cff;
    --color-background-grouped-primary-base-dark: #0f0f0fff;
    --color-background-grouped-primary-elevated-dark: #1c1c1eff;
    --color-background-grouped-primary-high-dark: #3a3a3cff;
    --color-background-grouped-secondary-base-dark: #1c1c1eff;
    --color-background-grouped-secondary-elevated-dark: #2c2c2eff;
    --color-background-grouped-tertiary-base-dark: #2c2c2eff;
    --color-background-grouped-tertiary-elevated-dark: #3a3a3cff;
    --color-fills-primary-dark: #7878805c;
    --color-fills-secondary-dark: #78788052;
    --color-fills-tertiary-dark: #7676803d;
    --color-fills-quaternary-dark: #7474802e;
    --color-fills-vibrant-primary-dark: #7f7f7f80;
    --color-fills-vibrant-secondary-dark: #7f7f7f66;
    --color-fills-vibrant-tertiary-dark: #7f7f7f33;
    --color-labels-primary-dark: #ffffffff;
    --color-labels-secondary-dark: #ebebf599;
    --color-labels-tertiary-dark: #ebebf54d;
    --color-labels-quaternary-dark: #ebebf529;
    --color-labels-success-dark: #30d158ff;
    --color-labels-error-dark: #ff453aff;
    --color-labels-warning-dark: #ff9f0aff;
    --color-labels-vibrant-primary-dark: #ffffffff;
    --color-labels-vibrant-secondary-dark: #cccccc80;
    --color-labels-vibrant-tertiary-dark: #cccccc66;
    --color-labels-vibrant-quaternary-dark: #cccccc33;
    --color-materials-chrome-dark: #000000c0;
    --color-materials-inverted-elevated-dark: #ffffff1f;
    --color-materials-inverted-secondary-dark: #ffffff1f;
    --color-materials-inverted-dark: #ffffff1f;
    --color-materials-regular-dark: #252525d1;
    --color-materials-thick-dark: #252525e6;
    --color-materials-thin-dark: #252525b3;
    --color-materials-ultra-thin-dark: #2525258c;
    --color-overlay-accent-blue15-15-dark: #ff0ae626;
    --color-overlay-accent-blue24-12-dark: #ff0ae63d;
    --color-overlay-black15-15-dark: #00000026;
    --color-overlay-black29-12-dark: #00000047;
    --color-overlay-black29-29-dark: #00000047;
    --color-overlay-black40-40-dark: #00000066;
    --color-overlay-black60-20-dark: #00000099;
    --color-overlay-black60-40-dark: #00000099;
    --color-overlay-black70-70-dark: #000000b3;
    --color-overlay-dimming-dark: #18132b36;
    --color-overlay-grabber-dark: #3c3c434d;
    --color-overlay-white15-15-dark: #ffffff26;
    --color-separators-card-photo-stroke-dark: #ffffff26;
    --color-separators-inverted-primary-dark: #ffffff26;
    --color-separators-inverted-secondary-dark: #ffffff1f;
    --color-separators-non-opaque-dark: #545458a6;
    --color-separators-opaque-dark: #38383aff;
    --color-brand-accent-dark: #2fe888ff;
    --color-brand-accent-40-dark: #2fd98166;
    --color-brand-accent-button-bezeled-fill-dark: #2fd9811f;
    --color-brand-accent-button-bezeled-fill-hover-dark: #2fd9812e;
    --color-brand-blue-dark: #0a84ffff;
    --color-brand-brown-dark: #ac8e68ff;
    --color-brand-cyan-dark: #64d2ffff;
    --color-brand-gray0-dark: #ffffffff;
    --color-brand-gray50-dark: #f8f8f8ff;
    --color-brand-gray100-dark: #f1f0efff;
    --color-brand-gray200-dark: #e6e4e2ff;
    --color-brand-gray300-dark: #d3d1cfff;
    --color-brand-gray400-dark: #b9b5b0ff;
    --color-brand-gray500-dark: #a8a49eff;
    --color-brand-gray600-dark: #87827bff;
    --color-brand-gray700-dark: #706c65ff;
    --color-brand-gray800-dark: #5e5b56ff;
    --color-brand-gray900-dark: #514f4bff;
    --color-brand-gray950-dark: #292826ff;
    --color-grays-black-dark: #000000ff;
    --color-grays-gray-dark: #8e8e93ff;
    --color-grays-gray2-dark: #636366ff;
    --color-grays-gray3-dark: #48484aff;
    --color-grays-gray4-dark: #3a3a3cff;
    --color-grays-gray5-dark: #2c2c2eff;
    --color-grays-gray6-dark: #1c1c1eff;
    --color-grays-white-dark: #ffffffff;
    --color-brand-green-dark: #30d158ff;
    --color-brand-indigo-dark: #5e5ce6ff;
    --color-brand-mint-dark: #63e6e2ff;
    --color-brand-orange-dark: #ff9f0aff;
    --color-brand-pink-dark: #ff375fff;
    --color-brand-purple-dark: #bf5af2ff;
    --color-brand-red-dark: #ff453aff;
    --color-brand-red-40-dark: #ff453a66;
    --color-brand-red-button-bezeled-fill-dark: #ff453a1a;
    --color-brand-red-button-bezeled-fill-hover-dark: #ff453a1a;
    --color-brand-teal-dark: #40c8e0ff;
    --color-brand-yellow-dark: #ffd60aff;
    --color-brand-yellow-acid-dark: #ffff54ff;
}
.herond-themes:where([data-scaling="90%"]) {
    --scaling: 0.9;
}
.herond-themes:where([data-scaling="95%"]) {
    --scaling: 0.95;
}
.herond-themes:where([data-scaling="100%"]) {
    --scaling: 1;
}
.herond-themes:where([data-scaling="105%"]) {
    --scaling: 1.05;
}
.herond-themes:where([data-scaling="110%"]) {
    --scaling: 1.1;
}
.herond-themes {
    --font-size-1: calc(10px * var(--scaling));
    --font-size-2: calc(11px * var(--scaling));
    --font-size-3: calc(12px * var(--scaling));
    --font-size-4: calc(13px * var(--scaling));
    --font-size-5: calc(15px * var(--scaling));
    --font-size-6: calc(17px * var(--scaling));
    --font-size-7: calc(22px * var(--scaling));
    --font-size-8: calc(26px * var(--scaling));
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-heavy: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --line-height-1: calc(13px * var(--scaling));
    --line-height-2: calc(14px * var(--scaling));
    --line-height-3: calc(15px * var(--scaling));
    --line-height-4: calc(16px * var(--scaling));
    --line-height-5: calc(20px * var(--scaling));
    --line-height-6: calc(22px * var(--scaling));
    --line-height-7: calc(26px * var(--scaling));
    --line-height-8: calc(32px * var(--scaling));
    --letter-spacing-1: 0.0025em;
    --letter-spacing-2: 0em;
    --letter-spacing-3: 0em;
    --letter-spacing-4: -0.0025em;
    --letter-spacing-5: -0.005em;
    --letter-spacing-6: -0.00625em;
    --letter-spacing-7: -0.0075em;
    --letter-spacing-8: -0.01em;
    --letter-spacing-9: -0.025em;
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --default-font-size: var(--font-size-3);
    --default-font-style: normal;
    --default-font-weight: var(--font-weight-regular);
    --default-line-height: 1.5;
    --default-letter-spacing: 0em;
    --default-leading-trim-start: 0.42em;
    --default-leading-trim-end: 0.36em;
    --heading-font-family: var(--default-font-family);
    --heading-font-size-adjust: 1;
    --heading-font-style: normal;
    --heading-leading-trim-start: var(--default-leading-trim-start);
    --heading-leading-trim-end: var(--default-leading-trim-end);
    --heading-letter-spacing: 0em;
    --heading-line-height-1: calc(16px * var(--scaling));
    --heading-line-height-2: calc(18px * var(--scaling));
    --heading-line-height-3: calc(22px * var(--scaling));
    --heading-line-height-4: calc(24px * var(--scaling));
    --heading-line-height-5: calc(26px * var(--scaling));
    --heading-line-height-6: calc(30px * var(--scaling));
    --heading-line-height-7: calc(36px * var(--scaling));
    --heading-line-height-8: calc(40px * var(--scaling));
    --heading-line-height-9: calc(60px * var(--scaling));
    --code-font-family: "Menlo", "Consolas (Custom)", "Bitstream Vera Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji";
    --code-font-size-adjust: 0.95;
    --code-font-style: normal;
    --code-font-weight: inherit;
    --code-letter-spacing: -0.007em;
    --code-padding-top: 0.1em;
    --code-padding-bottom: 0.1em;
    --code-padding-left: 0.25em;
    --code-padding-right: 0.25em;
    --strong-font-family: var(--default-font-family);
    --strong-font-size-adjust: 1;
    --strong-font-style: inherit;
    --strong-font-weight: var(--font-weight-bold);
    --strong-letter-spacing: 0em;
    --em-font-family: "Times New Roman", "Times", serif;
    --em-font-size-adjust: 1.18;
    --em-font-style: italic;
    --em-font-weight: inherit;
    --em-letter-spacing: -0.025em;
    --quote-font-family: "Times New Roman", "Times", serif;
    --quote-font-size-adjust: 1.18;
    --quote-font-style: italic;
    --quote-font-weight: inherit;
    --quote-letter-spacing: -0.025em;
    --tab-active-letter-spacing: -0.01em;
    --tab-active-word-spacing: 0em;
    --tab-inactive-letter-spacing: 0em;
    --tab-inactive-word-spacing: 0em;
    overflow-wrap: break-word;
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    font-style: var(--default-font-style);
    line-height: var(--default-line-height);
    letter-spacing: var(--default-letter-spacing);
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
            text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 521px) {
    .herond-themes {
        --font-size-1: calc(13px * var(--scaling));
        --font-size-2: calc(15px * var(--scaling));
        --font-size-3: calc(16px * var(--scaling));
        --font-size-4: calc(17px * var(--scaling));
        --font-size-5: calc(20px * var(--scaling));
        --font-size-6: calc(22px * var(--scaling));
        --font-size-7: calc(28px * var(--scaling));
        --font-size-8: calc(34px * var(--scaling));
        --line-height-1: calc(18px * var(--scaling));
        --line-height-2: calc(20px * var(--scaling));
        --line-height-3: calc(21px * var(--scaling));
        --line-height-4: calc(22px * var(--scaling));
        --line-height-5: calc(25px * var(--scaling));
        --line-height-6: calc(28px * var(--scaling));
        --line-height-7: calc(34px * var(--scaling));
        --line-height-8: calc(41px * var(--scaling));
    }
}
@keyframes rt-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes rt-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes rt-slide-from-top {
    from {
        transform: translateY(4px) scale(0.97);
    }
    to {
        transform: translateY(0) scale(1);
    }
}
@keyframes rt-slide-to-top {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(4px) scale(0.97);
    }
}
@keyframes rt-slide-from-bottom {
    from {
        transform: translateY(-4px) scale(0.97);
    }
    to {
        transform: translateY(0) scale(1);
    }
}
@keyframes rt-slide-to-bottom {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-4px) scale(0.97);
    }
}
@keyframes rt-slide-from-left {
    from {
        transform: translateX(4px) scale(0.97);
    }
    to {
        transform: translateX(0) scale(1);
    }
}
@keyframes rt-slide-to-left {
    from {
        transform: translateX(0) scale(1);
    }
    to {
        transform: translateX(4px) scale(0.97);
    }
}
@keyframes rt-slide-from-right {
    from {
        transform: translateX(-4px) scale(0.97);
    }
    to {
        transform: translateX(0) scale(1);
    }
}
@keyframes rt-slide-to-right {
    from {
        transform: translateX(0) scale(1);
    }
    to {
        transform: translateX(-4px) scale(0.97);
    }
}
@media (prefers-reduced-motion: no-preference) {
    .rt-PopperContent {
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    }
    .rt-PopperContent:where([data-state='open']) {
        animation-duration: 160ms;
    }
    .rt-PopperContent:where([data-state='open']):where([data-side='top']) {
        animation-name: rt-slide-from-top, rt-fade-in;
    }
    .rt-PopperContent:where([data-state='open']):where([data-side='bottom']) {
        animation-name: rt-slide-from-bottom, rt-fade-in;
    }
    .rt-PopperContent:where([data-state='open']):where([data-side='left']) {
        animation-name: rt-slide-from-left, rt-fade-in;
    }
    .rt-PopperContent:where([data-state='open']):where([data-side='right']) {
        animation-name: rt-slide-from-right, rt-fade-in;
    }
    .rt-PopperContent:where([data-state='closed']) {
        animation-duration: 100ms;
    }
    .rt-PopperContent:where([data-state='closed']):where([data-side='top']) {
        animation-name: rt-slide-to-top, rt-fade-out;
    }
    .rt-PopperContent:where([data-state='closed']):where([data-side='bottom']) {
        animation-name: rt-slide-to-bottom, rt-fade-out;
    }
    .rt-PopperContent:where([data-state='closed']):where([data-side='left']) {
        animation-name: rt-slide-to-left, rt-fade-out;
    }
    .rt-PopperContent:where([data-state='closed']):where([data-side='right']) {
        animation-name: rt-slide-to-right, rt-fade-out;
    }
}
.rt-Skeleton {
    --skeleton-radius: var(--skeleton-radius-override);
    --skeleton-height: var(--skeleton-height-override);
    border-radius: var(--radius-1);
    animation: rt-skeleton-pulse 1000ms infinite alternate-reverse !important;
    background-image: none !important;
    background-clip: border-box !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-decoration-break: clone !important;
            box-decoration-break: clone !important;
    color: transparent !important;
    outline: none !important;
    pointer-events: none !important;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
            user-select: none !important;
    cursor: default !important;
}
.rt-Skeleton:where([data-inline-skeleton]) {
    line-height: 0;
    font-family: Arial, sans-serif !important;
}
:where(.rt-Skeleton:empty) {
    display: block;
    height: var(--space-3);
}
.rt-Skeleton > *,
.rt-Skeleton::after,
.rt-Skeleton::before {
    visibility: hidden !important;
}
@keyframes rt-skeleton-pulse {
    from {
        background-color: var(--gray-a3);
    }
    to {
        background-color: var(--gray-a4);
    }
}
.rt-Text {
    line-height: var(--line-height, var(--default-line-height));
    letter-spacing: var(--letter-spacing, inherit);
}
:where(.rt-Text) {
    margin: 0;
}
.rt-Text:where([data-accent-color]) {
    color: var(--accent-a11);
}
.rt-Text:where([data-accent-color].rt-high-contrast),
	:where([data-accent-color]:not(.herond-themes)) .rt-Text:where(.rt-high-contrast) {
    color: var(--accent-12);
}
@media (pointer: coarse) {
    .rt-Text:where(label) {
        -webkit-tap-highlight-color: transparent;
    }
    .rt-Text:where(label):where(:active) {
        outline: 0.75em solid var(--gray-a4);
        outline-offset: -0.6em;
    }
}
.rt-Text:where(.rt-r-size-1) {
    font-size: var(--font-size-1);
    --line-height: var(--line-height-1);
    --letter-spacing: var(--letter-spacing-1);
}
.rt-Text:where(.rt-r-size-2) {
    font-size: var(--font-size-2);
    --line-height: var(--line-height-2);
    --letter-spacing: var(--letter-spacing-2);
}
.rt-Text:where(.rt-r-size-3) {
    font-size: var(--font-size-3);
    --line-height: var(--line-height-3);
    --letter-spacing: var(--letter-spacing-3);
}
.rt-Text:where(.rt-r-size-4) {
    font-size: var(--font-size-4);
    --line-height: var(--line-height-4);
    --letter-spacing: var(--letter-spacing-4);
}
.rt-Text:where(.rt-r-size-5) {
    font-size: var(--font-size-5);
    --line-height: var(--line-height-5);
    --letter-spacing: var(--letter-spacing-5);
}
.rt-Text:where(.rt-r-size-6) {
    font-size: var(--font-size-6);
    --line-height: var(--line-height-6);
    --letter-spacing: var(--letter-spacing-6);
}
.rt-Text:where(.rt-r-size-7) {
    font-size: var(--font-size-7);
    --line-height: var(--line-height-7);
    --letter-spacing: var(--letter-spacing-7);
}
.rt-Text:where(.rt-r-size-8) {
    font-size: var(--font-size-8);
    --line-height: var(--line-height-8);
    --letter-spacing: var(--letter-spacing-8);
}
.rt-Text:where(.rt-r-size-9) {
    font-size: var(--font-size-9);
    --line-height: var(--line-height-9);
    --letter-spacing: var(--letter-spacing-9);
}
@media (min-width: 520px) {
    .rt-Text:where(.xs\:rt-r-size-1) {
        font-size: var(--font-size-1);
        --line-height: var(--line-height-1);
        --letter-spacing: var(--letter-spacing-1);
    }
    .rt-Text:where(.xs\:rt-r-size-2) {
        font-size: var(--font-size-2);
        --line-height: var(--line-height-2);
        --letter-spacing: var(--letter-spacing-2);
    }
    .rt-Text:where(.xs\:rt-r-size-3) {
        font-size: var(--font-size-3);
        --line-height: var(--line-height-3);
        --letter-spacing: var(--letter-spacing-3);
    }
    .rt-Text:where(.xs\:rt-r-size-4) {
        font-size: var(--font-size-4);
        --line-height: var(--line-height-4);
        --letter-spacing: var(--letter-spacing-4);
    }
    .rt-Text:where(.xs\:rt-r-size-5) {
        font-size: var(--font-size-5);
        --line-height: var(--line-height-5);
        --letter-spacing: var(--letter-spacing-5);
    }
    .rt-Text:where(.xs\:rt-r-size-6) {
        font-size: var(--font-size-6);
        --line-height: var(--line-height-6);
        --letter-spacing: var(--letter-spacing-6);
    }
    .rt-Text:where(.xs\:rt-r-size-7) {
        font-size: var(--font-size-7);
        --line-height: var(--line-height-7);
        --letter-spacing: var(--letter-spacing-7);
    }
    .rt-Text:where(.xs\:rt-r-size-8) {
        font-size: var(--font-size-8);
        --line-height: var(--line-height-8);
        --letter-spacing: var(--letter-spacing-8);
    }
    .rt-Text:where(.xs\:rt-r-size-9) {
        font-size: var(--font-size-9);
        --line-height: var(--line-height-9);
        --letter-spacing: var(--letter-spacing-9);
    }
}
@media (min-width: 768px) {
    .rt-Text:where(.sm\:rt-r-size-1) {
        font-size: var(--font-size-1);
        --line-height: var(--line-height-1);
        --letter-spacing: var(--letter-spacing-1);
    }
    .rt-Text:where(.sm\:rt-r-size-2) {
        font-size: var(--font-size-2);
        --line-height: var(--line-height-2);
        --letter-spacing: var(--letter-spacing-2);
    }
    .rt-Text:where(.sm\:rt-r-size-3) {
        font-size: var(--font-size-3);
        --line-height: var(--line-height-3);
        --letter-spacing: var(--letter-spacing-3);
    }
    .rt-Text:where(.sm\:rt-r-size-4) {
        font-size: var(--font-size-4);
        --line-height: var(--line-height-4);
        --letter-spacing: var(--letter-spacing-4);
    }
    .rt-Text:where(.sm\:rt-r-size-5) {
        font-size: var(--font-size-5);
        --line-height: var(--line-height-5);
        --letter-spacing: var(--letter-spacing-5);
    }
    .rt-Text:where(.sm\:rt-r-size-6) {
        font-size: var(--font-size-6);
        --line-height: var(--line-height-6);
        --letter-spacing: var(--letter-spacing-6);
    }
    .rt-Text:where(.sm\:rt-r-size-7) {
        font-size: var(--font-size-7);
        --line-height: var(--line-height-7);
        --letter-spacing: var(--letter-spacing-7);
    }
    .rt-Text:where(.sm\:rt-r-size-8) {
        font-size: var(--font-size-8);
        --line-height: var(--line-height-8);
        --letter-spacing: var(--letter-spacing-8);
    }
    .rt-Text:where(.sm\:rt-r-size-9) {
        font-size: var(--font-size-9);
        --line-height: var(--line-height-9);
        --letter-spacing: var(--letter-spacing-9);
    }
}
@media (min-width: 1024px) {
    .rt-Text:where(.md\:rt-r-size-1) {
        font-size: var(--font-size-1);
        --line-height: var(--line-height-1);
        --letter-spacing: var(--letter-spacing-1);
    }
    .rt-Text:where(.md\:rt-r-size-2) {
        font-size: var(--font-size-2);
        --line-height: var(--line-height-2);
        --letter-spacing: var(--letter-spacing-2);
    }
    .rt-Text:where(.md\:rt-r-size-3) {
        font-size: var(--font-size-3);
        --line-height: var(--line-height-3);
        --letter-spacing: var(--letter-spacing-3);
    }
    .rt-Text:where(.md\:rt-r-size-4) {
        font-size: var(--font-size-4);
        --line-height: var(--line-height-4);
        --letter-spacing: var(--letter-spacing-4);
    }
    .rt-Text:where(.md\:rt-r-size-5) {
        font-size: var(--font-size-5);
        --line-height: var(--line-height-5);
        --letter-spacing: var(--letter-spacing-5);
    }
    .rt-Text:where(.md\:rt-r-size-6) {
        font-size: var(--font-size-6);
        --line-height: var(--line-height-6);
        --letter-spacing: var(--letter-spacing-6);
    }
    .rt-Text:where(.md\:rt-r-size-7) {
        font-size: var(--font-size-7);
        --line-height: var(--line-height-7);
        --letter-spacing: var(--letter-spacing-7);
    }
    .rt-Text:where(.md\:rt-r-size-8) {
        font-size: var(--font-size-8);
        --line-height: var(--line-height-8);
        --letter-spacing: var(--letter-spacing-8);
    }
    .rt-Text:where(.md\:rt-r-size-9) {
        font-size: var(--font-size-9);
        --line-height: var(--line-height-9);
        --letter-spacing: var(--letter-spacing-9);
    }
}
@media (min-width: 1280px) {
    .rt-Text:where(.lg\:rt-r-size-1) {
        font-size: var(--font-size-1);
        --line-height: var(--line-height-1);
        --letter-spacing: var(--letter-spacing-1);
    }
    .rt-Text:where(.lg\:rt-r-size-2) {
        font-size: var(--font-size-2);
        --line-height: var(--line-height-2);
        --letter-spacing: var(--letter-spacing-2);
    }
    .rt-Text:where(.lg\:rt-r-size-3) {
        font-size: var(--font-size-3);
        --line-height: var(--line-height-3);
        --letter-spacing: var(--letter-spacing-3);
    }
    .rt-Text:where(.lg\:rt-r-size-4) {
        font-size: var(--font-size-4);
        --line-height: var(--line-height-4);
        --letter-spacing: var(--letter-spacing-4);
    }
    .rt-Text:where(.lg\:rt-r-size-5) {
        font-size: var(--font-size-5);
        --line-height: var(--line-height-5);
        --letter-spacing: var(--letter-spacing-5);
    }
    .rt-Text:where(.lg\:rt-r-size-6) {
        font-size: var(--font-size-6);
        --line-height: var(--line-height-6);
        --letter-spacing: var(--letter-spacing-6);
    }
    .rt-Text:where(.lg\:rt-r-size-7) {
        font-size: var(--font-size-7);
        --line-height: var(--line-height-7);
        --letter-spacing: var(--letter-spacing-7);
    }
    .rt-Text:where(.lg\:rt-r-size-8) {
        font-size: var(--font-size-8);
        --line-height: var(--line-height-8);
        --letter-spacing: var(--letter-spacing-8);
    }
    .rt-Text:where(.lg\:rt-r-size-9) {
        font-size: var(--font-size-9);
        --line-height: var(--line-height-9);
        --letter-spacing: var(--letter-spacing-9);
    }
}
@media (min-width: 1640px) {
    .rt-Text:where(.xl\:rt-r-size-1) {
        font-size: var(--font-size-1);
        --line-height: var(--line-height-1);
        --letter-spacing: var(--letter-spacing-1);
    }
    .rt-Text:where(.xl\:rt-r-size-2) {
        font-size: var(--font-size-2);
        --line-height: var(--line-height-2);
        --letter-spacing: var(--letter-spacing-2);
    }
    .rt-Text:where(.xl\:rt-r-size-3) {
        font-size: var(--font-size-3);
        --line-height: var(--line-height-3);
        --letter-spacing: var(--letter-spacing-3);
    }
    .rt-Text:where(.xl\:rt-r-size-4) {
        font-size: var(--font-size-4);
        --line-height: var(--line-height-4);
        --letter-spacing: var(--letter-spacing-4);
    }
    .rt-Text:where(.xl\:rt-r-size-5) {
        font-size: var(--font-size-5);
        --line-height: var(--line-height-5);
        --letter-spacing: var(--letter-spacing-5);
    }
    .rt-Text:where(.xl\:rt-r-size-6) {
        font-size: var(--font-size-6);
        --line-height: var(--line-height-6);
        --letter-spacing: var(--letter-spacing-6);
    }
    .rt-Text:where(.xl\:rt-r-size-7) {
        font-size: var(--font-size-7);
        --line-height: var(--line-height-7);
        --letter-spacing: var(--letter-spacing-7);
    }
    .rt-Text:where(.xl\:rt-r-size-8) {
        font-size: var(--font-size-8);
        --line-height: var(--line-height-8);
        --letter-spacing: var(--letter-spacing-8);
    }
    .rt-Text:where(.xl\:rt-r-size-9) {
        font-size: var(--font-size-9);
        --line-height: var(--line-height-9);
        --letter-spacing: var(--letter-spacing-9);
    }
}
.herond-themes:where([data-is-root-theme="true"]) {
    position: relative;
    z-index: 0;
    min-height: 100vh;
}
@supports (min-height: 100dvh) {
    .herond-themes:where([data-is-root-theme="true"]) {
        min-height: 100dvh;
    }
}
